<div class="container">
    <div class="row">
        <h3> My Details</h3>
    </div> 
    <div class="row">
       
          <c-card>
            <c-card-body>
                <div class="row">
                    <div class="mb-3 d-flex">
                        <div class="col-4">Full Name</div>
                        <div class="col-8">Test Name</div>
                    </div>
                    <div class="mb-3 d-flex">
                        <div class="col-4">Email Address</div>
                        <div class="col-8">Test Name</div>
                    </div>
                    <div class="mb-3 d-flex">
                        <div class="col-4">Phone Number</div>
                        <div class="col-8">Test Name</div>
                    </div>
                    <div class="mb-3 d-flex">
                        <div class="col-4">Location</div>
                        <div class="col-8">Test Name</div>
                    </div>
                    
                </div>
            </c-card-body>
          </c-card>
    </div>
</div>


<div class="container">
    <div class="row">
        <h3> Edit Details</h3>
    </div>
    <div class="row">
        <form class="row g-3" [formGroup]="updateParentForm" >
            <div class="col-md-6">
                <label for="name">Full Name<span style="color:red;">*</span></label>
                <input type="text" class="form-control" formControlName="pname" />
                <!-- <div *ngIf="p.pname.touched && p.pname.invalid || p.submitted" class="error_msg">
                  <div *ngIf="p.pname.errors.required">Name is required.</div>
                </div> -->
              </div>
              <div class="col-md-6">
                <label for="email">Email Address<span style="color:red;">*</span></label>
                <input type="email" class="form-control" formControlName="pemail" />
                <!-- <div *ngIf="p.pemail.touched && p.pemail.invalid || p.submitted"
                  class="error_msg">
                  <div *ngIf="p.pemail.errors.required">Email is required.</div>
                  <div *ngIf="p.pemail.errors.pattern">Email is invalid</div>
                </div> -->
              </div>
            
              <div class="col-md-6">
                <label for="phone">Phone Number<span style="color:red;">*</span></label>
                <input type="text" class="form-control" formControlName="contact" pattern="[- +()0-9]+">
                <!-- <div *ngIf="p.contact.touched && p.contact.invalid || p.submitted"
                  class="error_msg">
                  <div *ngIf="p.contact.errors.required">Phone Number is required.</div>
                  <div *ngIf="p.contact.errors.pattern">Phone Number should be only numbers</div>
                </div> -->
              </div>
    
              <div class="col-md-6">
                <label for="location">Location<span
                    style="color:red;">*</span></label><br />
                <input type="text" class="form-control hmt-location" formControlName="location"
                   />
                   <!-- ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                  (onAddressChange)="handleAddressChange($event)" -->
                <!-- <div *ngIf="p.location.touched && p.location.invalid || p.submitted" class="error_msg">
                  <div *ngIf="p.location.errors.required">Location is required.</div>
                </div> -->
              </div>
    
            <div class="col-12">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
    
</div>