.hmt-container3{
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .carousel-inner{
    width: 100%;
    height: 100%;
  }


  .navbar-expand-lg{
      z-index: 1;
  }


  .hmt-container4{
      margin-top: 10px;
  }

  .hmt-offer{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
  }

  .img-testi, .image-area{
      width: 40%;
      margin: auto;

  }

  .rating{
      align-items:centre;
  }

  .hmt-customer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
  .hmt-nelson{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic;
  }

  .button-offer{
    display: grid;
    margin:auto;
    width: 30%;
    border-radius: 10px;
    background-color: #9b111e;
  }

  .card-title{
      font-size: 20px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 600;
  }

  .hmt-card{
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 5px;
  }


  .testi{
      padding: 20px;
  }

  .hmt-contact{
      margin-bottom: 0px;
      padding: 0px;
  }


  .row-offer{
      padding: 10px;
  }


  .nav-tabs{
      background-color:grey;
  }

  .nav-link{
      color:white;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .display-4{
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;

  }

  .col-md{
    padding-right: 2px;
    padding-left: 2px;
  }
  
  .jumbotron{
    margin-bottom: 4px;
    //background-color: #ffff;
  }

//   #hmt-primary{
//       background-image: url(/assets/images/hmt-primary.png);
//       background-size: cover;  
//       background-repeat:   no-repeat;
//       background-position: center center;
//   }
//   #hmt-primary:hover{
//     //background-image: url(/assets/images/hmt-primary.png);
//     background-color: gray;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }




//   #hmt-secondary{
//     background-image: url(/assets/images/hmt-secondary.png);
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

// #hmt-highersecondary{
//     background-image: url(/assets/images/hmt-highersecondary.png);
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// #hmt-undergraduate{
//     background-image: url(/assets/images/hmt-undergraduate.png);
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// #hmt-postgraduate{
//     background-image: url(/assets/images/hmt-postgraduate.png);
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

// .hmt-coding{
//     background-image: url(/assets/images/hmt-coding.png);
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

// .hmt-competitive{
//     background-image: url(/assets/images/hmt-comp.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

// .hmt-language{
//     background-image: url(/assets/images/hmt-languages.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

// .hmt-other{
//     background-image: url(/assets/images/hmt-test.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }



// .hmt-art{
//     background-image: url(/assets/images/hmt-art.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

// .hmt-dance{
//     background-image: url(/assets/images/hmt-dance.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-sing{
//     background-image: url(/assets/images/hmt-sing.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-music{
//     background-image: url(/assets/images/hmt-music.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-draw{
//     background-image: url(/assets/images/hmt-draw.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-digital{
//     background-image: url(/assets/images/hmt-digital.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-career{
//     background-image: url(/assets/images/hmt-career.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-special{
//     background-image: url(/assets/images/hmt-special.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-kids{
//     background-image: url(/assets/images/hmt-kids.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }
// .hmt-time{
//     background-image: url(/assets/images/hmt-time.png);
//     //background-color: tomato;
//     background-size: cover;  
//     background-repeat:   no-repeat;
//     background-position: center center;
// }

.checked {
    color: orange;
  }



#hmt-viewall, .hmt-viewall{
   // background-image: url(/assets/images/hmt-primary.png);
    // background-size: cover;  
    // background-repeat:   no-repeat;
    // background-position: center center;
    background-color: grey;
}


.hmt-tutor{
    background-color: #9b111e;
    text-align: center;
}

.hmt-parent1{
    text-align: center;
}

.hmt-parent{
    background-color: white;
}

.col-md-6{
    padding-left: 0px;
    padding-right: 0px;
}

.hmt-join, .hmt-trail{
    font-size: 34px;
    text-align: center;
    font-weight: 600;
}
.carousel-caption{
    margin-bottom:7% ;
}

.hmt-trail{
    color: black;
}

.hmt-tutordesc{
    text-align: center;
    padding:10px;
    color: whitesmoke;
}

.hmt-parentdesc{
    text-align: center;
    padding:10px;
    color: black;
}

.btn-lg{
    text-align: center;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 20px;
}



.item:hover{
    background-color: lightcoral;
}

.item{
   height: 400px;
   text-align: center;
}


.card-text{
    text-align: center;
}