<c-container>
    <c-row class="align-items-start">
     Search Filters Here...
    </c-row>
    <c-row class="align-items-start">
      <c-col class="col-lg-9">
        <c-row class="align-items-start">
            <c-col class="p-2">
                <c-card>
                    <c-card-body>
                      <h5 cCardTitle>
                        Online Finance, Business & Accounting Studies teacher required in Egkomi
                      </h5>
                      <p cCardText>
                        Hello dear all kindly i have urgently assigment for finane MIS i need to solve it urgently i need the solution in hand writing

                       In January 2022, Peter Parker, the chief financial officer for Marvell Technology Group, was given the task of assessing the impact of a proposed risky investment on the firm's stock value.
                       To perform the necessary...
                      </p>
                      <p>
                        <span>2 mins ago</span>
                        <span>Egkomi, Cyprus</span>
                         
                      </p>
                    </c-card-body>
                  </c-card>
            </c-col>
            
          </c-row>
      </c-col>
      <c-col class="col-lg-3">Google Ads here</c-col>
     
    </c-row>
   
  </c-container>
