<c-container>
    <!-- <c-row class="align-items-start">
     Search Filters Here...
    </c-row> -->
    <c-row class="align-items-start">
      <c-col class="col-lg-9">
        <c-row class="align-items-start">
            <c-col class="p-2">
                <c-card class="mb-2" *ngFor="let item of listofTeachingJobs | paginate
                : { itemsPerPage: tableSize, currentPage: page, totalItems: count}; let i = index">
                    <c-card-body>
                      <h5 cCardTitle>
                        Need <span *ngIf="item.gender != 'nopreference'"> {{item.gender}} </span>{{item.lookingfor}} in {{item.location}} 
                        to teach {{item.grade}} for {{item.days}} days weekly {{item.hours}} daily.
                      </h5>
                      
                      <p> <b>Time :</b> {{item.time}}</p>
                      <p> <b>Budget is :</b> {{item.budget}} {{item.budgettype}}</p>
                      <p> <b>Additional Details :</b> {{item.details}}</p>
                      <div class="col-12">
                        <div class="col-4">Parent : {{item.pname}}</div>
                        <div class="col-4">Posted on: {{item.creation_dt | date:'short'}}</div>
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" (click)="clickToApply(item)">Apply</button>
                     </div>
                     
                    </c-card-body>

                   
                </c-card>
                         
            </c-col>
          </c-row>
      </c-col>
      <c-col class="col-lg-3 text-center">Google Ads here</c-col>
     
    </c-row>
      <!--Including the pagination control.-->
      <div class="d-flex justify-content-end">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </div>
   
  </c-container>


  <!-- Job applied Modal -->
 <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Teacher Details</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form class="row parentForm" [formGroup]="applyJobForm" (ngSubmit)="submitJob()">
      <div class="col-md-12">
          <label for="name">Full Name<span style="color:red;">*</span></label>
          <input autocomplete="off" type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':
          (submitted && t['name'].errors) ||(t['name'].errors && t['name'].touched)}" />
          <div *ngIf="(submitted && t['name'].errors) ||(t['name'].errors && t['name'].touched)" class="invalid-feedback">
              <div *ngIf="t['name'].errors['required']">
                  Name is required
              </div>
         </div>

        </div>
        <div class="col-md-12">
          <label for="email">Email Address<span style="color:red;">*</span></label>
            <input autocomplete="off" type="text" class="form-control" formControlName="email" [ngClass]="{'is-invalid':
          (submitted && t['email'].errors) ||(t['email'].errors && t['email'].touched)}" />
          <div *ngIf="(submitted && t['email'].errors) ||(t['email'].errors && t['email'].touched)" class="invalid-feedback">
              <div *ngIf="t['email'].errors['required']">Email is required</div>
              <div *ngIf="t['email'].errors['pattern']">Email is invalid</div>
         </div>
        </div>
        <div class="col-md-12">
          <label for="email">Contact<span style="color:red;">*</span></label>
            <input autocomplete="off" type="text" class="form-control" formControlName="contact" [ngClass]="{'is-invalid':
          (submitted && t['contact'].errors) ||(t['contact'].errors && t['contact'].touched)}" />
          <div *ngIf="(submitted && t['contact'].errors) ||(t['contact'].errors && t['contact'].touched)" class="invalid-feedback">
              <div *ngIf="t['contact'].errors['required']">Contact is required</div>
              <div *ngIf="t['contact'].errors['maxlength']">Only 10 digits are allowed</div>
         </div>
        </div>
        <div class="modal-footer mt-1">
          <div *ngIf="noTeacherFoundMsg">{{noTeacherFoundMsg}} <p> Please 
            <a class="link-primary" routerLink="/teacher-form">Register Here</a></p> and then apply</div>
          <button type="submit" class="btn btn-primary">Submit</button>
       </div>
      </form>
  </c-modal-body>
  
</c-modal>
