

<div class="container" style="display: block;margin: auto;padding: 20px;">
  <i class="fas fa-handshake" style="font-size: 30px;display: block;margin: auto;text-align: center;"></i>
  <h1 mat-dialog-title>
    Your query has been submitted!!</h1>
<div mat-dialog-content>
    Our executive will get back to you at the earliest. Good day!!</div>
<div mat-dialog-actions>
  <!-- <button style="display: block;margin: auto; margin-top: 10px;" mat-button mat-dialog-close>Close</button> -->
</div>

</div>
