<div class="container-fluid parent px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
       
        <div class="row d-flex">
            <div class="col-lg-12">
                <ng-container *ngIf="isRegistered then login else signup"></ng-container>
                <ng-template #login>
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mt-4 mb-4 px-3 text-center" style="margin: auto;">
                            <h1 class="text-center" style="font-family: 'Dosis', sans-serif;"><b>Parent Login Form</b> </h1>
                        </div>
                        <form [formGroup]='plogin'>
                            <div class="form-group">
                              <label for="pemail">Email address</label>
                              <input type="email" autocomplete="off" class="form-control" formControlName="pemail" id="pemail">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <!-- <div class="input-group">                                      
                                    <input type="password" autocomplete="off" class="form-control" formControlName="password" id="password" placeholder="Password">
                                    <div class="input-group-append">
                                      <span class="input-group-text" id="basic-addon2"><i class="fa fa-eye"></i></span>
                                    </div>
                                </div>                                    -->
                                <div class="input-group">
                                    <input class="form-control border-right-0" type="password" autocomplete="off" formControlName="password" #password>
                                    <span class="input-group-btn bg-white">
                                        <button class="btn border border-left-0" *ngIf="!hidepwd" type="button" (click)="hidePassword(password)"><i class="fa fa-eye"></i></button>
                                        <button class="btn border border-left-0" *ngIf="hidepwd" type="button" (click)="showPassword(password)"><i class="fa fa-eye-slash"></i></button>
                                    </span>
                                </div>
                              </div>
                            
                            <div class="form-group">
                              <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                              <a  class="ml-auto mb-0 text-sm">Forgot Password?</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-blue text-center" (click)="plogged()">Login</button> 
                            </div>
                            <div class="form-group">
                                <small class="font-weight-bold">Don't have an account? <a class="text-danger" (click)= "movetoregister()">Register</a></small>
                            </div>
                          </form>
                        <!-- <div class="row px-3 mb-4">
                            <div class="line"></div> <small class="or text-center">Or</small>
                            <div class="line"></div>
                        </div> -->
                        <!-- <div class="row mb-4 px-3">
                            <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                            <div class="facebook text-center mr-3">
                                <div class="fa fa-facebook"></div>
                            </div>
                            <div class="twitter text-center mr-3">
                                <div class="fa fa-twitter"></div>
                            </div>
                            <div class="linkedin text-center mr-3">
                                <div class="fa fa-linkedin"></div>
                            </div>
                        </div> -->
                    </div>
                </ng-template>
                <ng-template #signup>
                    <div class="card2 card border-0 px-4 py-5">
                        <div class="row mt-4 mb-4 px-3 text-center" style="margin: auto;">
                            <h1 class="text-center" style="font-family: 'Dosis', sans-serif;"><b>Parent Signup Form</b> </h1>
                        </div>
                        <form [formGroup]='psignup'>
                            <div class="form-group">
                                <label for="pname">Name</label>
                                <input type="text" class="form-control" formControlName="pname" id="pname"  placeholder="Enter name">
                              </div>
                            <div class="form-group">
                              <label for="pemail">Email address</label>
                              <input type="email" class="form-control" formControlName="pemail" id="pemail"  placeholder="Enter email">
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="cpassword">Confirm Password</label>
                                <input type="password" class="form-control" formControlName="cpass" id="cpass" placeholder="Confirm Password">
                              </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-blue text-center" (click)="parentsignup()">Signup</button>
                            </div>
                            <div class="form-group">
                                <small class="font-weight-bold">Already registered? <a class="text-danger " (click)="movetologin()">Login</a></small>
                            </div>
                          </form>
                      
                       <!-- <div class="row px-3 mb-4">
                            <div class="line"></div> <small class="or text-center">Or</small>
                            <div class="line"></div>
                        </div> 
                         <div class="row mb-4 px-3">
                            <h6 class="mb-0 mr-4 mt-2">Sign in with</h6>
                            <div class="facebook text-center mr-3">
                                <div class="fa fa-facebook"></div>
                            </div>
                            <div class="twitter text-center mr-3">
                                <div class="fa fa-twitter"></div>
                            </div>
                            <div class="linkedin text-center mr-3">
                                <div class="fa fa-linkedin"></div>
                            </div>
                        </div> -->
                    </div>
                </ng-template>
               
            </div>
        </div>
       
    </div>
</div>

