/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";


html, body { height: 100%; }
body { margin: 0; font-family: 'Dosis', sans-serif; }

.active>.nav-link {
    color: #dc3545;
}

.navbar-light .navbar-nav .nav-link {
    color: #212529;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: 'Dosis', sans-serif;; }

.mat-horizontal-stepper-header-container{
    width: 70%;
    margin:auto;

}

.btn-blue, .btn-primary{
    background-color:#9b111e !important;
    border-radius: 20px;
    border:none !important;
}


.error_msg{color:red; font-size: 11px;}

.link-primary{color:#9b111e !important;}

.modal-footer{border : none !important}

.ngx-pagination .current {
    background: #9b111e !important;
}
